@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var startTime = new Date();
        var button = document.getElementById('getQuotesBtn');
        var table = document.querySelector('.table');

        var logMessage = function (sender, obj) { 
            var highest = 0;
            for (i = 0; i < obj.length; i++) {
                if (obj[i].ResponseTime) {
                    if (obj[i].ResponseTime > highest) highest = obj[i].ResponseTime; 
                }
            }
            var timeDiff = (new Date() - startTime) ;
            var timeDiffNet = (timeDiff  - highest);

            table.querySelector("tbody").innerHTML += `<tr><th>${sender}</th><td>${timeDiff / 1000}s</td><td>${highest / 1000}s</td><td>${timeDiffNet / 1000}s</td><td><pre>${JSON.stringify(obj)}</pre></td></tr>`;
        };

        var buttonClick = function () {
            startTime = new Date();
            connection.send('getQuotesRequest', document.getElementById('city').value);
        }

        var connection = new signalR.HubConnectionBuilder()
            .withUrl('/quoteshub')
            .build();

        connection.on('quotePosted', (message) => { logMessage("quotePosted", message) });
        connection.on('getQuotesRequestConfirmed', (message) => {
            getQuotesRequestConfirmedStartTime = new Date();
            logMessage("getQuotesRequestConfirmed", message)
        });
        connection.onclose((error) => logMessage("error", error));

        connection.start()
            .then(function () {
                button.addEventListener('click', buttonClick);
                logMessage("connection", "connected");
            })
            .catch(function (error) {
                logMessage("error", error);
            });
    });
</script>

<div>
    <form>
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city">
        </div>
        <button type="button" class="btn btn-primary" id="getQuotesBtn">Submit</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>sender</th>
                <th>Latency</th>
                <th>Broker Duration</th>
                <th>Per Req Overhead</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>